@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


.divContain{
    @apply h-[200vh] scrollbar scrollbar-thumb-slate-900;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 91%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    background-color: rgba(21, 32, 60, 0.407); 
    .divContainI{
        @apply rounded;
        position: relative;
        width: 75%;
        height: 98%; 
        margin: auto;
        padding: 2%;
        background-color: rgb(8, 6, 47);
        .inputForm{
            @apply appearance-none block w-full bg-blue-900 text-gray-700 border border-blue-900 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
            position: relative;
            margin: auto;
        }
    }
}

.ButtonB{ 
    @apply bg-slate-950 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded;
    padding: '10px'; 
    margin: '1%';
}

.tableB{
    @apply shadow-2xl font-[Poppins] border-2 border-blue-600 w-11/12 overflow-hidden;
    position: relative;
    margin: auto;
    top: 2%;
    .theadB{
        @apply text-white; 
        .trh{
            .th{
                @apply py-3 bg-slate-900;
            }
        }
    }
    .tbodyB{
        @apply text-slate-300 text-center;
        .trb{
            @apply bg-slate-800  hover:bg-slate-700 hover:scale-105 cursor-pointer duration-300;
            .tdb{
                @apply py-3 px-6;
                
            }
        }
    }
}

.divCont{
    margin: auto;
}